.contentListHeader{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 1;
    align-items: center;
    width: 100%;
    h1{
        padding: 20px 0;
        font-size: 20px;
        color: #4a4a4a;
        text-align: center;
        span{
            font-weight: bold;
        }
    }
}